
.home{
    flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}

.container{
    display: flex;
    margin-top: 10px;
}

.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
  }